

<ion-view title="Home" id="page1">
	<head><link rel="stylesheet" href="css/style.css"></head>
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu" id="home-button1" class="Boton-carne PositionTopLeft button button-large">Carnes</a>
    <a ui-sref="menu2" id="home-button2" class="Boton-bebidas PositionTopRight button button-large">Bebidas</a>
    <a ui-sref="menu3" id="home-button3" class="Boton-Postres PositionBottomLeft button button-large">Postres</a>
    <a ui-sref="menu4" id="home-button4" class="waves-effect waves-light btn Boton-random PositionBottomRight button button-large">Random</a>
  </ion-content>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>