<ion-view title="Total" id="page7">
  <head><link rel="stylesheet" href="css/style.css"></head>
  <ion-content padding="true" class="has-header">

  <label class="item item-input">
  <span class="input-label">Total</span>
  <input id="total1" type="number">
  </label>

  <label class="item item-input">
  <span class="input-label">Payment</span>
  <input id="payment1" type="number">
  </label>

  <button class="Centro"> Calculate Total </button>
  <br>

  <ion-item class="center"> Change </ion-item>

</ion-content>
</ion-view>

<script>

  function Carnes (event){
    var sirloin = 100;
    var arrachera = 200;
    var carnitas = 300;
  }

  function Bebidas (event){
    var soda = 15;
    var agua = 20;
    var te = 10;
  }

  function Postres (event){
    var pastel = 80;
    var pie = 75;
    var chocolate = 30;
  }

  function Random (event){
    var asador = 1200;
    var queso = 80;
    var salchicha = 70;
  function Payment (event){

  }

  function Total (event){
    
  }

</script>